/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALS */

body{
    background-color:rgb(11, 164, 184);
}

/* HEADER */
.header{
    line-height: 20px ;
    background-color: white;
}
.main-title{
    display: inline;
    vertical-align: middle;
    font-size: 2.5em;
}
.header-logo{
    margin: 5px 0 5px 25px;
    height: 65x;
    vertical-align: middle;
}

/* MAIN */
.container{
    background-color: white;
    width: 700px;
    height: 100%;
    margin: 50px auto auto auto;
    border-radius: 5px;
    padding-bottom: 40px;
}
.main-header{
    padding: 15px 0px 10px 40px;
    line-height: 20px;
    border-bottom: 2px solid #c4cacf;
}
.main-button{
    vertical-align: middle;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}
.blu{
    background-color: #47adf1;
    color: white;
}
.trasparente{
    color: #c4cacf;
    border: 1px solid #c4cacf;
}
.main-list{
    padding: 40px 0 0 40px;
}
.list-item{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 17px;
}
.check{
    color:green;
    display: inline-block;
    border: 1px solid green;
    border-radius: 50%;
    padding: 0px 4px;
    margin: 5px 5px 5px 5px;
}
.cross{
    color:red;
    display: inline-block;
    border: 1px solid red;
    border-radius: 50%;
    padding: 0px 4px;
    margin: 5px 5px 5px 5px;
}